@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
html, body {
    height: 100%;
}

body {
    background-color: #141936;
    font-family: 'Poppins', sans-serif;
}

.main {
    height: 100%;
    width: 100%;
}

.intro {
    background-color: #2b0059;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    display: block;
}

.intro .hello {
    color: #e0faffed;
    font-family: 'Roboto', sans-serif;
    padding-top: 20%;
    font-weight: 700;
    font-size: 8em;
    line-height: 0;
    text-shadow: -6px -6px 0px #28cceae6;
    display: block;
}

.intro h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 5%;
    line-height: 10px;
    display: block;
    margin-bottom: 70px;
}

.social-link {
    font-size: 46px;
    padding: 15px;
    color: rgb(229, 208, 255);
}

.social-link i:hover {
    transition: all linear 250ms;
    transform: rotate(340deg);
}

.about {
    background-color: #e22c2c;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15% 20%;
    min-height: 100vh;
    display: block;
    color: #fff;
}

.about .social-link {
    font-size: 36px;
    padding: 25px;
    padding-left: 0;
    gap: 10px;
    color: rgb(255, 255, 255);
}

.wrapper {
    height: 100vh;
    position: absolute;
    overflow-x: auto;
}

.awssld__controls__arrow-left:before, .awssld__controls__arrow-left:after, .awssld__controls__arrow-right:before, .awssld__controls__arrow-right:after {
    background-color: #fff;
}